@(user: UserOld)(content: Html)

@main(user) {

    <div class="row">
        <div class="col col-lg-4">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="@controllers.account.settings.routes.Password.index">@Messages("password")</a>
                </li>
                <li>
                    <a href="@controllers.account.settings.routes.Email.index">@Messages("email")</a>
                </li>
            </ul>
        </div>
        <div class="col col-lg-8">
        @content
        </div>
    </div>
}