@main() {

    <h3>@Messages("additem.additem") - @Messages("confirmation")</h3>

    @wflash()

    <div class="form-actions">
        <a href="@routes.Application.index" class="btn btn-default">@Messages("goback")</a>
    </div>
}
