@(form: Form[Message],item: Item, user:User)

 @helper.form(routes.Comments.save) {
    
   <div class="well">
   <div class="row">
   		<div class="col-xs-12 col-md-1" ></div>
   			<div class="col-xs-12 col-md-2">
	 			<h5>Message</h5>
	 		</div>
   				<div class="col-xs-12 col-md-8">
		 			<input class="form-control" type="text" id="messageText" name="messageText" placeholder="Message" /> 
		 			<input type="hidden" id="itemId" name="itemId" value="@item.id"  />
		       		<input type="hidden" id="senderId" name="senderId" value="@user.id"  />
		       		<input type="hidden" id="receiverId" name="receiverId" value="@user.id"  />
			</div>
	</div>
<!-- 	<div class="row>">
		<div class="col-xs-12 col-md-1" ></div>
		<div class="col-xs-12 col-md-2">
	 			<h5>Email</h5>
	 	</div>
		<div class="col-xs-12 col-md-8">
			<p>
	       		<input type="text" id="messageText" name="messageText" placeholder="Email" />
	       		<input type="hidden" id="itemId" name="itemId" value="@item.id"  />
	       		<input type="hidden" id="senderId" name="senderId" value="@user.id"  />
	       		<input type="hidden" id="receiverId" name="receiverId" value="@user.id"  />
	   		</p>
	   	</div>
   	</div>
   -->
	<div class="row">
		<div class="col-xs-12 col-md-3"></div>
	 	<div class="col-xs-12 col-md-8">
	    <div class="form-actions">
	        <input type="submit" class="btn btn-primary" >
	    </div>
	    </div>
    </div>
    </div>
}

