@main() {

    <h3>@Messages("additem.successfull")</h3>
    @Messages("additem.msg.created")

    <div class="form-actions">
        <a href="@controllers.account.AddItem.index" class="btn btn-default">@Messages("goback")</a>
    </div>
}