@(addItemForm: Form[Item], categoryList: List[Category])

@import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

<h3>@Messages("additem.new")</h3>

@form(controllers.account.routes.AddItem.save(), 'enctype -> "multipart/form-data") {

 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")">
<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
  <!--<link class="cssdeck" rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")>-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">

	<div class="well">
	 <h3>Categorigasion</h3>
	 
	 <div class="row">
	 		<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>Category</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			<select class="form-control">
	                  <option value="" disabled="disabled" selected="selected">Categories</option>
					@for(category <- categoryList) {
	          			<option value="1">@category.title</option>
	          		}
	              </select>
	 		</div>
	 </div>
	 	 <div class="row">
	 	 <div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>Type</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			<select  class="form-control">
	                  <option value="" disabled="disabled" selected="selected">Types</option>
			          <option value="1">Service</option>
			          <option value="2">Product</option>
	            </select>
	 		</div>
	 </div>
	</div>
	<div class="well">
	 	 <h3>Details</h3>
	 <div class="row">
		 	<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>Title</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			@inputText(
	            addItemForm("title"),
	            'placeholder -> Messages("additem.title"),
	            '_label -> null,
	            'class -> "form-control"
	       		 )
	 		</div>
	 </div>
	 <div class="row">
	 		<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>Description</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			@inputText(
	            addItemForm("description"),
	            'placeholder -> Messages("additem.description"),
	            '_label -> null,
	            'class -> "form-control"
	       		 )
	 		</div>
	 </div>
	 <div class="row">
	 		<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>Image</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			@inputFile(
	            addItemForm("pictureFile"),
	            '_label -> Messages("additem.image"),
	            'class -> "form-control"
	       		 )  
	 		</div>
	 </div>
	 </div>
	 
	 <div class="well">
	 <h3>Contact Details</h3>
	 <div class="row">
	 		<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>Street</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			@inputText(
	            addItemForm("street"),
	            '_label -> null,
	            'placeholder -> Messages("address.street"),
	            'class -> "form-control"
	        	)
	 		</div>
	 </div>
	 <div class="row">
	 		<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>City</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			@inputText(
	            addItemForm("city"),
	            '_label -> null,
	            'placeholder -> Messages("address.city"),
	            'class -> "form-control"
	        	)
	 		</div>
	 </div>
	 <div class="row">
	 		<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>PostCode</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			@inputText(
	            addItemForm("postCode"),
	            '_label -> null,
	            'placeholder -> Messages("address.postcode"),
	            'class -> "form-control"
	       		 )
	 		</div>
	 </div> 
	 <div class="row">
	 		<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>State</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			@inputText(
	            addItemForm("state"),
	            '_label -> null,
	            'placeholder -> Messages("address.state"),
	            'class -> "form-control"
       		 	)
	 		</div>
	 </div>
	 <div class="row">
	 		<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-2">
	 			<h5>Country</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-8">
	 			@inputText(
	            addItemForm("country"),
	            '_label -> null,
	            'placeholder -> Messages("address.country"),
	            'class -> "form-control"
	        	)
	 		</div>
	 </div>
</div>
</div>

    <!-- fieldset>
        @inputText(
            addItemForm("title"),
            'placeholder -> Messages("additem.title"),
            '_label -> null,
            'class -> "form-control"
        )
        @inputText(
            addItemForm("description"),
            'placeholder -> Messages("additem.description"),
            '_label -> null,
            'class -> "form-control"
        )
        
         @inputFile(
            addItemForm("pictureFile"),
            '_label -> Messages("additem.image"),
            'class -> "form-control"
        )  
        
        <!-- <label for="category"></label>
        <select id="category" name="category" class="form-control">
		  <option value="All">All</option>
		  <option value="Bikes">Bikes</option>
		  <option value="Vehicles">Vehicles</option>
		  <option value="Service">Services</option>
		  <option value="RepairTools">Repair Tools</option>
		  <option value="GardeningTools">Gardening Tools</option>
		  <option value="PaintingTools">Painting Tools</option>
		  <option value="others">Others</option>
		</select> --
		
	@inputText(
            addItemForm("street"),
            '_label -> null,
            'placeholder -> Messages("address.street"),
            'class -> "form-control"
        )
        
        @inputText(
            addItemForm("city"),
            '_label -> null,
            'placeholder -> Messages("address.city"),
            'class -> "form-control"
        )
        
        @inputText(
            addItemForm("postCode"),
            '_label -> null,
            'placeholder -> Messages("address.postcode"),
            'class -> "form-control"
        )
        
        @inputText(
            addItemForm("state"),
            '_label -> null,
            'placeholder -> Messages("address.state"),
            'class -> "form-control"
        )
        
        @inputText(
            addItemForm("country"),
            '_label -> null,
            'placeholder -> Messages("address.country"),
            'class -> "form-control"
        )
		
    </fieldset-->
 
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("additem.additem")">
    </div>
}

