@(addItemForm: Form[Item], categoryList: List[Category])

    @scripts = {
        <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
    }

@main(null, scripts) {
        <div class="well">
        @createFormOnly(addItemForm,categoryList)
        </div>
}