@(item: Item, user:User,messageList: List[Message],messageForm: Form[Message])
@scripts = {
        <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
    }
     @main() {
@if(item != null) {
    <div>
    	<h3>@item.title</h3>
    </div>
    <div class="well">
    
	 <h3>Details</h3>
	 
	 <div class="row">
	 	 <div class="col-xs-12 col-md-1"></div>
 		<div class="col-xs-12 col-md-3">
 			<img width="200px" src="@routes.Assets.at(item.getImage())" alt="...">
 		</div>
 		<div class="col-xs-12 col-md-8">
 			<div class="row" style="height: 40px"></div>
	 		<div class="row">
		 		<div class="col-xs-12 col-md-15">
		 			<h5>Location :</h5>
		 		</div>
		 		<div class="col-xs-12 col-md-6">
		 			@item.street,@item.city,@item.state,@item.country.
		 		</div>
	 		</div>
			 <div class="row">
			 		<div class="col-xs-12 col-md-15">
			 			<h5>Creation Date :</h5>
			 		</div>
			 		<div class="col-xs-12 col-md-8">
			 			@item.getDateCreation()
			 		</div>
			 </div>
		
			 <div class="row">
			 		<div class="col-xs-12 col-md-15">
			 			<h5>Description :</h5>
			 		</div>
			 		<div class="col-xs-12 col-md-3">
			 			@item.description
			 		</div>
			 </div>
	 	</div>
	 </div>
	 
	</div>
	<div class="well">
	<div class="row">
	<div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-3">
				<h3>Owner</h3>
			</div>
	 		<div class="col-xs-12 col-md-9"></div>
	</div>
    <div class="row">
    
	 	 <div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-3">
	 			<img src="@routes.Assets.at(user.getImage())" alt="...">
	 		</div>
	 		<div class="col-xs-12 col-md-9"></div>
	 </div>
    <div class="row">
	 	 <div class="col-xs-12 col-md-1"></div>
	 		<div class="col-xs-12 col-md-3">
	 			<h5>@user.firstName</h5>
	 		</div>
	 		<div class="col-xs-12 col-md-9"></div>
	 </div>
     
     </div>

	<div class="well">
	     @for(message <- messageList) {	
	<div class="row">
		<div class="col-xs-12 col-md-1"></div>
		<div class="col-xs-12 col-md-2">
	 			<h5>@message.getSenderName(message.senderId)</h5>
		</div>
		<div class="col-xs-12 col-md-8">@message.messageText</div>
	</div> 
     }
     </div>
     <div class=row"">
     	@createFormMessageOnly(messageForm,item,user)
     </div>
     
     
	}	
}