@(addMessageForm: Form[Message])

    @scripts = {
        <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
    }

@main(null, scripts) {
    <div class="span3">
            &nbsp;
    </div>

    <div class="span12">
        <div class="well">
        </div>
    </div>
}