/*
    User defined CSS File
*/

body {
    /*padding: 50px 0 0 0;*/
    background: #efefef url("../img/bg.png") left -195px repeat-x;
}
body > .container {
    
}
/*
.navbar {
    background: #28a4c9;
}

.navbar-inverse {
  background-color: #000000;
  border-color: #00000;
}

.navbar-default .navbar-nav > li > a {
    color: #fdfdfd;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffff00;
}

.navbar-default .navbar-nav > .active > a {
     background: #269abc;
     color: #fdfdfd;
 }
.navbar-default .navbar-nav > .active > a:hover {
    background: #269abc;
    color: #ffff00;
}

.navbar-default .navbar-brand  {
    color: #ffff00;
}
.navbar-default .navbar-brand:hover  {
    color: #ffff00;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #269abc;
    color: #ffff00;
}
*/
.topSpace {
    margin-top: 60px;
}
.topBorder {
	border-top: 1px dashed #428bca;
}
.largeTopSpace {
    margin-top: -32px;
	background-color:#efefef;
}
#footer {
    width: 100%;
    /*height: 50px;*/
    padding-top: 15px;
    font-size: 0.9em;
	color:#efefef;
    background-color: #efefef;
}

.logoHelp1 {
    position: relative;
    top: 5px;
	left: 15px;
}

.tab-content {
	background: #ffffff;
	border: 1px solid #dddddd;
	border-top: none;
}

.tab-content p {
	padding: 20px;
}

.gridbox{
	display:block;
	border:1px solid #ccc;
	padding:0 5px 5px 30px;
	min-height:25px;
}

.select{
	color: #fff;
	backgroung-color: #428bca
	border-color: #357ebd
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.gridrow{
	border:1px solid #ccc;
	height:1px;
	margin: 5px 0 5px 0;	
}
