@import url('validation.css');
#enquiry_form {
}
#enquiry_form ul {
	float: left;
}
form.form li {
	position:relative;
	margin: 0 0 8px 0;
}
form.form label {
	width: 320px;
	height: 29px;
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	padding: 6px 0 0 12px;
	font-size: 12px;
}
textarea {
	font-size:12px;
	background: #ffffff;
	border:1px solid #d7e9b7;
	width:331px;
	padding:8px 0 0 10px;
	height:106px;
	color:#333333;
}
form.form li#textarea {
}
form.form li.button {
	background:none;
}
form.form li.button label {
	display:none;
}
form.form li.button input {
	width: 80px;
	height: 27px;
	background:url(../images/core/form-btn-submit.jpg) no-repeat;
	text-indent:-9999em;
	cursor:pointer;
	display: block;
}