@main(null) {

  @wflash()
  
  <head>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-hover.css")">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
  	<div class="well">
  		<div class="row" style="padding:0 0 0 30px">
			<h2>Who We Are?</h2>
		</div>
		<div class="gridrow"></div>
		<div><h4>Leadership Team</h4></div>
		<div class="row" style="padding:0 0 0 20px">
			<div class="col-md-3">
				<img width="200px" height="200px" src="@routes.Assets.at("images/aboutus/mushfiq.jpg")" alt="...">
				<h5>Md. Mushfiqur Rahman</h5>
			</div>
			<div class="col-md-3">
				<img width="200px" height="200px" src="@routes.Assets.at("images/aboutus/madhura.jpg")" alt="...">
				<h5>Madhura Kumaraswamy</h5>
			</div>
			<div class="col-md-3">
				<img width="200px" height="200px" src="@routes.Assets.at("images/aboutus/mahadi.jpg")" alt="...">
				<h5>Mohammad Mahadi Hasan</h5>
			</div>
			<div class="col-md-3">
				<img width="200px" height="200px" src="@routes.Assets.at("images/aboutus/masuma.jpg")" alt="...">
				<h5>Masuma Khanom</h5>
			</div>
		</div>
  	</div>
	<div class="well">
		<div class="row"  style="padding:0 0 0 30px">
			<h2>Our Vission</h2>
		</div>
		<div class="gridrow"></div>
		<div class="row"  style="padding:0 0 0 30px">
			<p>Our powerful networking system and philosophy allow for accelerated relationships of trust, where members support and lift each other up.</p></p>
		</div>
	</div>
  </div><!-- container -->
</body>
  }