
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }


{

<div>
    <table>
        <td boarder=2>
            <ul>
                <li>ABC
                    <ul>
                        <li>field 1</li>
                        <li>field 2</l>
                    </ul>
                 </li>
            ...
            </ul>
        </td>
        <td>
            <div class="clo-lg-6" style="width:1000px"
                <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Four Column Portfolio Template for Bootstrap 3</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the '4 Col Portfolio' Template -->
    <link href="stylesheets/4-col-portfolio.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://startbootstrap.com">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">4 Col Portfolio
                    <small>Showcase Your Work</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                </a>
            </div>

        </div>

        <hr>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">
    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
            </div>
        </td>
    </table>
</div>
}