@main(null) {

  @wflash()
  
  <head>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-hover.css")">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
  	<div class="row">
  		<div class="col-md-8">
  			<div class="well">
		  		<div class="row" style="padding:5px 0 5px 20px">
					<strong><h2>Contact Us</h2></strong>
				</div>
				<div class="gridrow"></div>
				<div class="row" style="padding:5px 0 5px 20px">
					<input type="text" class="form-control" placeholder="Name" id="name" name="name" value="">
				</div>
				<div class="row" style="padding:5px 0 5px 20px">
					<input type="text" class="form-control" placeholder="Email" id="email" name="email" value="">
				</div>
				<div class="row" style="padding:5px 0 5px 20px">
					<input type="text" class="form-control" placeholder="Messages" id="message" name="message" value="">
				</div>
				<div class="row" style="padding:5px 0 5px 20px">
					<div class="input-group"><a href="#" class="btn btn-warning">Send Your Messages</a></div>
				</div>	
			</div>

		  </div>
  		<div class="col-md-4">
  			<div class="well">	
  				<h3>Contact Information</h3>
				<div class="row"  style="padding:5px 0 5px 20px">
					<p>ConnEx, Inc.</p>
						<p>Address</p>
						<p>City, State, Zip</p>
						<p>P: (123) 456-7890</p>
						<p>Email: first.last at gmail.com</p>
						<p>Sidebar Categories</p>
					<p>
						Quisque diam lorem sectetuer adipiscing
						Interdum vitae, adipiscing dapibus ac
						Scelerisque ipsum auctor vitae, pede
						Donec eget iaculis lacinia non erat
						Lacinia dictum elementum velit fermentum
						Donec in velit vel ipsum auctor pulvinar
					</p>
				</div>
  			</div>
  		</div>
  	</div>
  </div><!-- container -->
</body>
  }