@(categoryList: List[Category],itemForm : Form[Application.ItemSearch])
 @helper.form(controllers.account.routes.AddItem.search) {

<!-- search -->
			<div class="row">
				<div class="well" role="navigation">
				    <div class="collapse navbar-collapse navbar-ex1-collapse">
				    	<div class="col-sm-10 col-md-10">
					    	<form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
					    	<div class="row">
					    		<div class="col-md-15" style="padding:0 5px 0 0">
					    			<input type="text" class="form-control" placeholder="Search" id="title" name="title" value="">
					    		</div>
					    		<div class="col-md-2"  style="padding:0 5px 0 0">
					    			<select class="form-control">
				                        <option value="" disabled="disabled" selected="selected">Categories</option>
						                @for(category <- categoryList) {
						          			<option value="1">@category.title</option>
						          		}
				                    </select>
					    		</div>
					    		<div class="col-md-15"  style="padding:0 5px 0 0">
					    			<input type="text" class="form-control" placeholder="Area" id="query" name="query" value="">
					    		</div>
					    		<div class="col-md-1"  style="padding:0 5px 0 0">
						    		<select  class="form-control">
				                        <option>5km </option>
				                        <option>10km</option>
				                        <option>20km</option>
				                        <option>25km</option>
				                        <option>50km</option>
				                    </select>
					    		</div>
					    		<div class="input-group-btn">
							            	<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
							    </div>
					    	</div>
					    	</form>
					        </div>
				      
				         <div class="col-sm-2 col-md-2">
					        <form class="navbar-form navbar-right" role="search">
						        <div class="input-group"><a href="@controllers.account.routes.AddItem.create" class="btn btn-warning">Post Your Ads</a></div>
				        	</form>
				         </div>
				    </div>
				</div>				
			</div>	
  <!--search-->
	
	}
	
