

@main(null) {

  @wflash()
  
  <head>
  	<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
		<div class="container">
                <div class="well">
                <div class="panel-body">
                    <div class="col-xs-12 col-md-8">
                        <h2>FAQ</h2>
                        <p>If you have questions, we have answers. Some of them are here. Our FAQs are a great source of information about cleverbridge, our solutions and international e-commerce.</p>
                        <!-- p><a href="#" >Read more</a></p> -->
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <img width="200px" src="assets/images/faq.png" alt="...">
                    </div>
                </div>
                	<div class="well">
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/question.png" alt="...">
                			<a>Q. Do I have the ability to add products and change product prices without contacting cleverbridge?</a>
                		</div>
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/Answer.png" alt="...">
                			<a>A. With our flexible management tool you can make these changes yourself. However, we also have experienced, dedicated people available to do this for you if you prefer.</a>
                		</div>
                	</div>
                	<div class="well">
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/question.png" alt="...">
                			<a>Q. How long do I have to wait before I have access to information from today’s sales?</a>
                		</div>
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/Answer.png" alt="...">
                			<a>A. All sales made through the cleverbridge platform are available in real time via the Commerce Assistant, nearly real time in your integrated internal systems and within a minute through our Business Intelligence tool.</a>
                		</div>
                	</div>
                	<div class="well">
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/question.png" alt="...">
                			<a>Q. Am I able to see which sales are coming from each affiliate?</a>
                		</div>
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/Answer.png" alt="...">
                			<a>A. Using our Affiliate Center, you have access to this information and more. Our system provides a variety of ways for you to enhance interaction with your affiliates.</a>
                		</div>
                	</div>
                	<div class="well">
                		<div class="row" style="padding:0 0 0 20px">	
                			<img width="32px" src="assets/images/question.png" alt="...">
                			<a>Q. What do I need to do to prevent fraudulent orders using cleverbridge?</a>
                		</div>
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/Answer.png" alt="...">
                			<a>A. You do not need to do anything. We have extensive automated fraud protection built into our platform and anti-fraud experts monitoring your orders 24 hours per day, seven days per week.</a>
                		</div>
                	</div>
                	<div class="well">
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/question.png" alt="...">
                		<a>Q. How can I keep my email lists clean from invalid email addresses?</a>
                		</div>
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/Answer.png" alt="...">
                			<a>A. Our email platform offers a double opt-in process for newsletter registrations that requires the subscriber to confirm his/her email address. As an additional measure, our system automatically removes hard bounces from the system.</a>
                		</div>
                	</div>
                	<div class="well">
                		<div class="row" style="padding:0 0 0 20px">
                			<img width="32px" src="assets/images/question.png" alt="...">
                			<a>Q. What can I do to grow our marketing database?</a>
                		</div>
                		<div class="row" style="padding:0 0 0 20px">
                				<img width="32px" src="assets/images/Answer.png" alt="...">
                				<a>A. Cleverbridge Message Direct Clients can take advantage of our platform integration by adding newsletter registration fields in the shopping cart check-out process.</a>
                		</div>
                	</div>
                	</div>
                </div>
		</div><!-- container -->
</body>
  }