@(signupForm: Form[Application.Register], loginForm: Form[Application.Login], categoryList: List[Category],itemSearch: Form[Application.ItemSearch])
<!--
@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}
-->
@main(null, scripts) {

  @wflash()
  
  <head>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-hover.css")">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<!--  script type="text/javascript">
$(document).ready(function(){
 
    $("[rel='tooltip']").tooltip();    
 
    $('#hover-cap .thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    );    
    

    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });

 
});  
</script>-->
</head>
<body>

  <div class="container">
   
<!-- search Bar -->
	@createFormSearchOnly(categoryList,itemSearch)
<!-- search Bar -->
	<div class="row">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
			<div class="list-group">
				<a href="#" class="list-group-item active">Categories</a>
				 @for(category <- categoryList) {
				<a href="#" class="list-group-item">@category.title</a>
				}
			</div>
		</div>
            
	<div class="col-xs-12 col-md-9">
		<div class="well">
			
		@for(category <- categoryList) {
	
		<div class="row">
			<div class="col-xs-12 col-md-2">
					<ul class="thumbnails" id="hover-cap"> <!-- add id attr to thumbnail list -->         
				      <div class="thumbnail">
				          <img src="@routes.Assets.at(category.getImage())" alt="...">
				          <a>@category.title</a>
				      </div>
				      </ul>
			</div>
			}
		</div>
		</div>
	</div><!-- col-xs-12 col-md-9 -->
 
</div><!-- row -->
                
            </div><!-- container -->
</body>
  }